@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: rgb(232, 238, 238);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.inputContainer {
    width: 100%;
    max-width: 500px;
    text-align: center;
    padding: 20px;
}

.inputContainer input {
    border: none;
    outline: none;
    padding: 12px;
    margin-block: 12px;
    border-radius: 5px;
    font-size: 14px;
}

.inputContainer input[type="text"] {
    width: 70%;
}

.inputContainer input[type="button"] {
    background-color: #3da33d;
    color: #fff;
    font-weight: 700;
    margin-left: 10px;
    cursor: pointer;
    padding: 12px 24px;
}

.inputContainer input[type="button"]:hover {
    background-color: #60b160;
}

ul {
    width: 100%;
    max-width: 400px;
}

ul li {
    list-style: none;
    cursor: pointer;
    margin-block-end: 12px;
    border-radius: 8px;
    border: 0.125px solid #a19f9f;
    padding: 6px 12px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: background-color 0.5s;
}

ul li:hover {
    background-color: #ebebeb;
}

ul li p {
    flex-grow: 1;
    padding: 2px;
}

.btn {
    border: none;
    outline: none;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    padding: 10px;
    background: none;
}

.deleteBtn {
    color: #ff0000;
}

.editBtn {
    color: #008000;
}