* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Nunito", sans-serif;
}

:root {
  --bg-color: #191f36;
  --snd-bf-color: #262840;
  --text-color: #fff;
  --main-color: #59b2f4;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 2.5rem;
  color: var(--text-color);
  font-weight: 700;
  cursor: default;
}

.navbar a {
  font-size: 1.7rem;
  color: var(--text-color);
  margin-left: 4rem;
  font-weight: 700;
}

.navbar a:hover,
.navbar a.active {
  color: var(--main-color);
}

#menuIcon {
  font-size: 3.6rem;
  color: var(--text-color);
  display: none;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15rem;
}

.homeContent h3 {
  font-size: 3.2rem;
  font-weight: 700;
}

.homeContent h3:nth-of-type(2) {
  margin-bottom: 2rem;
}

span {
  color: var(--main-color);
}

.homeContent h1 {
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.3;
}

.homeImg img {
  width: 28vw;
  border-radius: 50%;
  animation: floatImage 4s ease-in-out infinite;
}

@keyframes floatImage {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2.4rem);
  }
  100% {
    transform: translateY(0);
  }
}

.homeContent p {
  font-size: 1.6rem;
}

.socialMedia a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: 0.2rem solid var(--main-color);
  border-radius: 50%;
  font-size: 2rem;
  color: var(--main-color);
  margin: 3rem 1.5rem 3rem 0;
  transition: 0.5s ease;
}

.socialMedia a:hover {
  background-color: var(--main-color);
  color: var(--snd-bf-color);
  box-shadow: 0 0 1rem var(--main-color);
}

.btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--main-color);
  border-radius: 4rem;
  box-shadow: 0 0 0.9rem var(--main-color);
  font-size: 1.6rem;
  color: var(--bg-color);
  letter-spacing: 0.1rem;
  font-weight: 700;
  transition: 0.5s ease;
}

.btn:hover {
  box-shadow: none;
}

.about {
  display: flex;
  flex-direction: row;
  gap: 15rem;
  margin-top: 50px;
  background: var(--snd-bf-color);
}

.aboutImg img {
  width: 30vw;
  border: 2px solid var(--main-color);
  box-shadow: 0 0 1rem var(--main-color);
  border-radius: 50px;
}

.heading {
  text-align: center;
  font-size: 4.5rem;
}

.aboutContent h2 {
  text-align: left;
  line-height: 1.2;
}

.aboutContent h3 {
  font-size: 2.6rem;
}

.aboutContent p {
  font-size: 1.9rem;
  line-height: 1.3;
  letter-spacing: 1px;
  margin: 2rem 0 3rem;

}


.about2{
    display: flex;
    justify-content: center;
    gap: 15rem;
    margin-top: 50px;
    background: var(--snd-bf-color);
}

.aboutPage{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.about-info{
    font-size: 20px;
}

.about-info p{
    color: var(--main-color);
}

.progress{
    width: 95%;
    background-color: #222;
}

.skill{
    width: 90vh;
    margin-top: 60px;
    color: #fff;
    padding: 20px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    height: 460px;
}

.skill li{
    margin: 20px 0;
    padding: 10px;
}

.bar{
    background: #353b48;
    display: block;
    height: 17px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.bar:hover{
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.bar span{
    height: 17px;
    float: left;
    background: linear-gradient(135deg, rgba(236, 0, 140, 1)0%, rgba(252, 103, 103, 1)100%);
}

.html{
    width: 80%;
    animation: html 3s;
}
.css{
    width: 70%;
    animation: css 3s;
}
.js{
    width: 90%;
    animation: js 3s;
}
.react{
    width: 50%;
    animation: react 3s;
}

@keyframes html {
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
}
@keyframes css {
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}
@keyframes js {
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}
@keyframes react {
    0%{
        width: 0%;
    }
    100%{
        width: 50%;
    }
}

.about-info {
  margin: auto;
  display: flex;
  flex-direction: row;
}

.name{
  display: flex;
  flex-direction: column;
  font-size: 20px;
  margin-top: 20px;
  gap: 11px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 20px;
}

.posi{
  display: flex;
  flex-direction: column;
  font-size: 20px;
  margin-top: 25px;
  margin-left: 60px;
  gap: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    padding: 20px;
}

.title-s {
  color: #fff;
}

.skill{
  margin-top: 40px;
}

.skill h1{
  font-size: 20px;
}

.skill h3{
  font-size: 16px;
}

.readmoreBtn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 0.9rem var(--main-color);
    font-size: 1.6rem;
    /* color: var(--bg-color); */
    letter-spacing: 0.1rem;
    font-weight: 700;
    transition: 0.5s ease;
    cursor: pointer;
}

.aboutContent .readmoreBtn {
  color: #222;
}

.readmoreBtn:hover {
  box-shadow: none;
}

.aboutContent span{
  color: #fff;
}

.readmore{
  display: none;
}

.readmore--show{
  display: inline;
}

.services h2{
  font-size: 30px;
  text-align: center;
  margin-bottom: 5rem;
  color: #fff;
}

.servicesCont{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;

}
.servicesBox{
max-width: 400px;
height: 350px;
}

.servicesCont .servicesBox{
  flex: 1 1 30rem;
  background: var(--snd-bf-color);
  padding: 3rem 2rem 4rem;
  border-radius: 2rem;
  text-align: center;
  border: .2rem solid var(--bg-color);
  transition: .5s ease;
}

.servicesCont .servicesBox:hover{
  border-color: var(--main-color);
  transform: scale(1.02);
}

.servicesBox i{
  margin-bottom: 10px;
  font-size: 7rem;
  color: var(--main-color);
}

.servicesBox h3{
  color: var(--main-color);
  margin-top: 10px;
  font-size: 2.6rem;
}

.servicesBox p{
  font-size: 1.6rem;
  margin: 1rem 0 3rem;
}

.projects{
  background: var(--snd-bf-color);
}

.projects h2{
  margin-bottom: 4rem;
}

.projectCont{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  gap: 2.5rem;
}

.projectCont .projectBox{
  position: relative;
  border-radius: 2rem;
  box-shadow: 0 0 1rem var(--bg-color);
  overflow: hidden;
  display: flex;
  height: 250px;
}

.projectBox img{
  width: 200%;
  transition: .5s ease;
  opacity: 0.7;
}

.projectBox:hover img{
  transform: scale(1.1);
}

.projectBox .projectLayer{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0,0,0,0.1), var(--main-color));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: .4rem;
  transform: translateY(100%);
  transition: 0.5s ease;
}

.projectBox:hover .projectLayer{
  transform: translateY(0);
}

.projectLayer h4{
  font-size: 2.5rem;
  margin-top: 50px;
}

.projectLayer p{
  font-size: 1.6rem;
  margin: .3rem 0 1rem;
  color: #222;
  font-weight: bolder;
}

.projectLayer a{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background: var(--text-color);
  border-radius: 50%;
  background: none;
  color: #fff;

}

.projectLayer a i{
  font-size: 1.5rem;
  color: var(--snd-bf-color);

}

.fa-up-right-from-square{
  font-size: 3rem;
}

.contact h2{
  margin-bottom: 3rem;
}

.contact form{
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 3rem;
}

.contact form .inputBox{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact form .inputBox input, .contact form textarea{
  width: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: var(--text-color);
  background: var(--snd-bf-color);
  border-radius: .8rem;
  margin: .7rem 0;
}

.contact form .inputBox input{
  width: 49%;
}

.contact form textarea{
  resize: none;
}

.contact form .btn{
  margin-top: 2rem;
  cursor: pointer;
}

/* Responsive */

@media (max-width: 1200px) {
  html{
    font-size: 55%;
  }
}

@media (max-width: 991px) {
  .header{
    padding: 2rem 3%;
  }
  section{
    padding: 10rem 3%;
  }

  .services{
    padding: 7rem;
  }

  .projects{
    padding-bottom: 7rem;
  }

  .contact{
    min-height: auto;
  }

    .skill {
      width: 100%;
    }
}

@media (max-width: 768px) {
  #menuIcon{
    display: block;
  }

  .navbar {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: 250px;
    border-bottom-left-radius: 10px ;
    border-bottom-right-radius: 10px ;
    box-shadow: 0 2px 1px rgb(255, 255, 255);
    background-color: var(--bg-color);
    text-align: center;
    transition: 0.2s;
    overflow: hidden;
  }

  .navbar a {
    font-size: 17px;
    display: block;
    border-bottom: 1px solid var(--snd-bf-color);
    margin: 24px;
    margin-bottom: 1px;
    transition: 0.3s ease;
  }

  .navbar a:hover{
    transform: scale(1.09);
    transition: 0.3s ease;
  }

  .navbar.active{
    height: 300px;
  }

  #menuIcon {
    display: block;
  }

  .home{
    flex-direction: column;
  }

  .homeContent{
    margin-top: -80px;
    text-align: center;
  }

  .homeContent h3{
    font-size: 2.6rem;
  }

  .homeContent h1{
    font-size: 5rem;
  }

  .homeImg img{
    width: 80vw;
    margin-top: 4rem;
    }

    .about{
      flex-direction: column;
    }

    .aboutImg img{
      width: 90vw;
      margin-top: 4rem;
    }

    .services h2{
      margin-bottom: 3rem;
    }

    .projects h2{
      margin-bottom: 3rem;
    }

    .projectCont{
      grid-template-columns: repeat(2,1fr);
    }

    .skill{
      width: 100%;
    }

    .projectBox img{
      width: 100%;
    }

    .homeContent{
      order: 2;
    }
}

@media (max-width: 700px){

  .navbar {
      width: 100%;
    }
}


@media (max-width: 617px){
  .projectCont{
    grid-template-columns: repeat(2,1fr) ;
  }

  .homeImg img{
    width: 90vw;
    margin-top: 6rem;
  }

    .navbar {
      width: 100%;
    }

  .aboutImg img{
    width: 90vw;
    margin-top: 4rem;
  }

    .skill {
      width: 100%;
    }
}

@media (max-width: 450px){
  html{
    font-size: 50%;
  }

  .contact form .inputBox input{
    width: 100%;
  }

    .skill {
      width: 100%;
    }

        .navbar {
          width: 100%;
        }
}